html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }
/* sets up box sizing for all elements */
html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}
.wrapper{
    background-color: #d4e9e7;
    width: 1024px;
    margin: auto;
}
/* base styles above*/

header img{
    width: 100%;
}

h1{
    font-size: 3rem;
    color: #FFFFFF;
    line-height: 2em;
    text-align: center;
    position: relative;
    bottom: 100px;
}

nav{
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2em;
    text-align: center;
    position: sticky;
    width: 100%;
}
nav li{
    display: inline-block;
    border-right: 1px solid black;
    text-align: center;
}
nav a:link,a:visited{
    color: black;
    text-decoration: none;
}
nav a:hover,a:focus{
    background-color: #aad4cf;
}
/* link styles */
/* all header styles above */

h2{
    font-size: 2rem;
    line-height: 2em;
    margin: 10px;
}

article img{
    width: 250px;
    height: 257px;
    float: left;
    margin: 10px;
}

p{
    font-size: 1rem;
    line-height: 2em;
    margin: 10px;
}
/* article styles */

article ul{
    list-style-type: square;
    padding: 0.5rem;
}
article ul li{
    margin: 1rem;
}
/* includes all article list styles */

form{
    line-height: 1rem;
    border: solid black 1px;
    padding: 1rem;
    margin: 10px;
}
form input{
    margin: 1rem;
}
form textarea{
    margin: 1rem;
}
form button{
    text-transform: uppercase;
    background-color: #d4e9e7;
    padding: 0.5rem;
}
/* includes all form styles */

footer{
    text-align: end;
    text-transform: capitalize;
}