*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

:root{
    --custom-orange: #c78c06;
    --custom-beige: #ffe6ac;
    --custom-grey: #222;
} /* sets up custom colours to use with var() property */

img{
    max-width: 100%;
    height: auto;
}

svg{
    width: 50px; 
} /* makes svg small for the time being */

/* beginsfont styling */
h1{
    font-size: 4rem; /* 4 * 19 = 76px */
    line-height: 1.5; 
    font-weight: 700;
}
h2{
    font-size: 3rem; /* 1.5 * 19 = 28.5px */
    font-weight: 700;
    line-height: 1.6;
}
h3{
    font-size: 2rem; /* 1.3 * 19 = 25px */
    font-weight: 700;
    line-height: 1.8;
}
h4{
    font-size: 1.3rem; /* 1.3 * 19 = 25px */
    font-weight: 700;
    line-height: 2;
}
p{
    font-size: 1rem; /* 1 * 19 = 19px */
    font-weight: 400;
    line-height: 1.5;
    margin: 1rem 0;
}

/* sets up maximum width */
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
/* begins nav styling */
nav{
    background-color: var(--custom-grey);
    color: var(--custom-orange);
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 3.5;
}
/* creates flex layout */
nav ul{
    display: flex;
    flex-direction: column;
}
nav img{
    display: block;
    width: 180px;
    margin: 2rem 0;
} /* logo styles */

/* begins styling buttons */
nav li:hover, :focus{
    background-color: var(--custom-orange);
    color: var(--custom-grey);
}
a{
    color: inherit;
    text-decoration: inherit;
}

/* begins styling search form */
form.search input[type=text] {
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
}
/* styles the submit button */
form.search button {
    float: left;
    width: 20%;
    padding: 1rem;
    background: var(--custom-grey);
    color: var(--custom-orange);
    font-size: 1.5rem;
    border: 1px solid var(--custom-orange);
}

/* begins styling home section */
#home img{
    display: none;
}

#home {
    background-image: url("../images/main-banner.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 4rem 0;
}

#home div.wrapper{
    position: relative;
    top: 10%;
    color: white;
    background-color: rgba(34, 34, 34, 0.75);
}

#home div.wrapper article{
    width: 100%;
    margin: auto;
    padding: 1rem;
}

/* starts link styling */
#home a{
    display: inline-block;
    background-color: var(--custom-orange);
    padding: 1rem;
    margin: 1rem 0;
    color: black;
    font-size: 1.3rem;
    border: solid var(--custom-orange) 1px;
}
#home a i{
    padding: 1rem;
}
#home a:hover{
    border: solid var(--custom-grey) 1px;
}

/* starts about us section styling */
#about{
    background-color: var(--custom-beige);
}
#about div.wrapper{
    padding: 1rem;
}
#about img{
    width: 100%;
}

/* starts styling our services section */
#services div.wrapper{
    padding: 1rem;
}
#services div.wrapper article{
    margin: 1rem 0;
    background-color: var(--custom-beige);
}
#services div.wrapper article div{
    padding: 1rem;
}
#services div.wrapper article img{
    width: 100%;
}
/* link styles */
#services div.wrapper article a{
    display: inline-block;
    background-color: var(--custom-grey);
    padding: 1rem;
    margin: 1rem 0;
    color: white;
    font-size: 1.3rem;
    border: solid var(--custom-grey) 1px;
}
#services div.wrapper article a i{
    padding: 1rem;
}
#services div.wrapper article a:hover{
    border: solid var(--custom-orange) 1px;
}

/* starts styling our vision section */
#vision img{
    display: none;
}
#vision{
    color: white;
    position: relative;
    background-image: url("../images/vision.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 2rem 0;
}
#vision article{
    position: relative;
    padding: 1rem;
}
#vision a{
    display: inline-block;
    background-color: rgba(34, 34, 34, 0.7);
    padding: 1rem;
    margin: 1rem 0;
    color: white;
    font-size: 1.3rem;
    border: solid var(--custom-beige) 1px;
}
#vision a i{
    padding: 1rem;
}
#vision a:hover{
    border: solid var(--custom-grey) 1px;
}

/* starts styling our team section */
#team div.wrapper > img{
    display: none;
}/* hides the extra image */
#team div.wrapper{
    padding: 1rem;
}
#team div.wrapper article{
    margin: 1rem 0;
    background-color: var(--custom-beige);
}
#team div.wrapper article div{
    padding: 1rem;
}
#team div.wrapper article img{
    width: 100%;
}
#team div.wrapper article div h4{
    border-bottom: solid 2px var(--custom-orange);
}

/* starts styling contact section */
#contact div.wrapper{
    padding: 1rem;
    margin: auto;
    padding: 1rem;
}
/* form styles */
#contact form{
    margin: 1rem 0;
}
#contact form input, textarea{
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
#contact button{
    color: var(--custom-orange);
    background-color: var(--custom-grey);
    font-size: 1.5rem;
    margin: 1rem 0;
}
#contact article{
    margin: 0.5rem 0;
}
/* table styles */
#contact table{
    width: 100%;
}
#contact table caption{
    text-align: left;
}
#contact table thead, tbody, tr, th, td{
    border: 1px solid var(--custom-grey);
    padding: 1rem;
}
#contact table thead{
    background-color: var(--custom-beige);
    text-align: center;
}
/* map embed */
#contact iframe{
    width: 100%;
}

/* styles footer */
footer{
    background-color: var(--custom-grey);
    color: var(--custom-orange);
}
footer div.wrapper{
    padding: 1rem;
}
footer a{
    text-decoration: underline;
}

/* begins media query */
@media print, screen and (min-width:750px){
    /* sets new rem */
    html{
        font-size: 16px;
    }
    /* begins styling nav */
    nav{
        width: 100%;
    }
    nav ul{
        flex-direction: row;
        flex-wrap: none;
        justify-content: space-between;
        align-items: center; /* Vertical centering */
        font-size: 1rem;
    }
    nav ul li{
        flex-grow: 1;
    }
    nav ul li:nth-child(1){
        flex-grow: 0;
    }
    nav ul li:nth-child(7){
        flex-grow: 0;
    }
    nav img{
        width: 100px;
        padding: 0;
        margin: 0;
    }
    /* form styling */
    form.search{
        width: 100%;
    }
    form.search input[type=text]{
        max-width: 80%;
        font-size: 1rem;
    }
    form.search button{
        width: 20%;
        font-size: 1rem;
    }
    /* begins styling home */
    #home{
        background-image: none;
        background-color: var(--custom-grey);
        position: relative;
        padding: 0;
    }
    #home img{
        display: block; /* shows image */
        width: 100%;
        height: 500px;
        object-fit: cover; 
    }
    #home div.wrapper{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #home div.wrapper article{
        margin: auto;
        max-width: 1200px;
    }

    /* begins styling about section */
    #about div.wrapper{
        display: flex;
        align-items: stretch;
        width: 100%;
        justify-content: space-between;
    }
    #about div.wrapper img{
        object-fit: cover; 
        width: 48%;
    }
    #about .wrapper article{
        width: 48%;
    }
    
    /* begins setting up grid layout in services section*/
    #services div.wrapper{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5rem;
        grid-template-areas: 
        "head head head head head head"
        "dig dig dig mrk mrk mrk"
        "vid vid web web pnt pnt";
    }
    #services h2{
        grid-area: head;
    }
    #services article#digital{
        grid-area: dig;
    }
    #services article#marketing{
        grid-area: mrk;
    }
    #services article#video{
        grid-area: vid;
    }
    #services article#webDev{
        grid-area: web;
    }
    #services article#print{
        grid-area: pnt;
    }
    #services div.wrapper article{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #services div.wrapper article a{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    /* begins styling our team section */
    #team div.wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "head head"
        "img1 art1"
        "art2 img2";
    }
    #team div.wrapper article > img{
        display: none;
    }/* hides the article image */
    #team div.wrapper > img{
        display: block;
    }/* shows the image outside of article */  
    /* sets up grid areas */
    #team div.wrapper h2{
        grid-area: head;
    }  
    #team div.wrapper > img.john{
        grid-area: img1;
    }
    #team div.wrapper > img.bob{
        grid-area: img2;
    }
    #team div.wrapper article.john{
        grid-area: art1;
    }
    #team div.wrapper article.bob{
        grid-area: art2;
    }
    #team div.wrapper article{
        height: 100%;
        margin: 0;
    }
    #team div.wrapper img{
        height: 100%;
        object-fit: cover; 
    }
    
    /* begins styling contact us section */
    #contact div.wrapper{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "head head"
        "msg lctn"
        "hrs hrs";
    }
    /* sets up grid areas */
    #contact div.wrapper h2{
        grid-area: head;
    }  
    #contact div.wrapper form#contactform{
        grid-area: msg;
    }
    #contact div.wrapper article#hrs{
        grid-area: hrs;
    }
    #contact div.wrapper article#lctn{
        grid-area: lctn;
    }
    #contact div.wrapper > *{
        margin: 0;
    }
}
/* hide nav when printing, other print styles */
@media print{
    *, *::after, *::before{
        color: black;
    }
    nav{
        display: none;
    }
    #home .wrapper article{
        background-color: white;
    }
    #home a{
        display: none;
    }
    #services .wrapper article div a{
        display: none;
    }
    #vision{
        display: none;
    }
}